#related_pages_container {
	margin-bottom: 1.0rem;
}

#related_pages_container .relatedpages {
	display: flex;

	flex-wrap: wrap;
}

#related_pages_container .relatedpage {
	display: flex;
	flex: 1;
	min-width: 200px;
	margin: 5px;
	padding: 10px;
	border: 1px solid #ccc;
	background-color: #fff;
	box-shadow: 0 5px 15px -10px rgba(0,0,0,0.8);
	color: #444 !important;
}
#related_pages_container .relatedpage:hover {
	box-shadow: 0 5px 15px -5px rgba(0,0,0,0.8);
}

#related_pages_container .relatedpage p {
	flex: 1;
	margin: 0;
	font-size: 0.9em;
	word-wrap: break-word;
	word-break: break-all;
}

#related_pages_container .post-thumbnail {
	min-width: 100px;
	height: 100px;
	max-height: 50vh;
	margin: 0 1.0rem 0 0;
	background-position: center;
	background-size: cover;
	text-align: center;
	overflow: hidden;
}
